.footer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footer .logo {
    font-size: 25px;
}

.footer .logo a {
    text-decoration: none;
    color: #a2a8a8;
    margin-right: 20px;
}

.footer .logo a:hover {
    color: #c3c5c5;
}

.footer .footer-buttons {
    display: flex;
    gap: 15px;
    margin-left: 50px;
}

.footer .footer-buttons button {
    background-color: #737272;
    border: none;
    padding: 10px 20px;
    text-decoration: solid;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.footer .footer-buttons button:hover {
    background-color: #a2a8a8;
}